<!DOCTYPE html>
<html ng-app ng-csp>
<head>
	<title data-message="extensionName">Boards for Trello</title>
	<link rel="stylesheet" href="/css/popup.css" />
	<script type="text/javascript" src="/javascript/ga.js"></script>
</head>
<body>
	<div id="loading_wrapper" style="display: none;">
		<h1>
			<span data-message="extensionName">Boards for Trello</span>
			<a href="#" id="close" tabindex="-1">&times;</a>
			<div id="updating" style="display: none;"></div>
		</h1>

		<div id="new_version" style="display: none;">
			<div class="success">
				<p>
					<strong>New!</strong>
				</p>
				<p class="indent">
					Click <strong>&#x2605;</strong> to pin your <span data-lang="favourite">favourite</span>
					boards at the top of the list.
				</p>
				<p class="indent">
					Click <strong>&#x00D7;</strong> to hide a board - it can be restored from
					the <a href="#" id="update_settings" tabindex="-1">Settings</a>.
				</p>
			</div>
		</div>

		<div ng-controller="BoardsCtl">
			<div id="boards_search">
				<input type="text" id="search_input" ng-model="search.name" placeholder="Search your boards..." autofocus="autofocus" autocomplete="off" />
			</div>
			<ul id="boards_list" ng-repeat="org in orgs | orderBy:'sortName'">
				<li class="org" ng-class="{'org-empty': !(org.boards | filter:search).length}">
					<span>
						<a href="{{org.url}}" target="_blank" tabindex="-1">
							<span ng-switch on="org.logo">
								<div ng-switch-when="pic" style="background-image: url('https://trello-logos.s3.amazonaws.com/{{org.logoHash}}/30.png');" class="org-logo"></div>
								<div ng-switch-when="me" class="org-logo org-me"></div>
								<div ng-switch-when="star" class="org-logo org-star"></div>
								<div ng-switch-when="org" class="org-logo org-default"></div>
							</span>
							{{org.displayName}}
						</a>
					</span>
				</li>
				<li ng-repeat="board in org.boards | filter:search | orderBy:'sortName'" ng-class="{'starred': board.starred, 'unseen': board.unseen}">
					<span class="board-name">
						<a href="{{board.url}}" target="_blank">
							<span class="close" ng-click="hideBoard($event, board.id)" title="Hide">&#x00D7;</span>
							<span class="star" ng-click="starBoard($event, board.id)">&#x2605;</span>
							{{board.name}}
                            <span class="unseen-indicator" title="unseen activity"></span>
						</a>
					</span>
				</li>
			</ul>
		</div>

		<div class="footer">
			<a href="#" id="logout" class="footer-link">Logout</a>
			<a href="#" id="settings" class="footer-link">Settings</a>
			<a href="https://trello.com/" target="_blank" class="trello-link">Trello.com</a>
		</div>
	</div>
	<script type="text/javascript" src="/javascript/angular.min.js"></script>
	<script type="text/javascript" src="/javascript/func.js"></script>
	<script type="text/javascript" src="/javascript/popup.js"></script>
</body>
</html>
