body {
    min-width:     		320px;
    font:				14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;
}

#boards_list {
	padding:			0;
	margin:				0;
}

#boards_list li {
	padding:			0;
	margin:				0 0 4px 0;
}

#boards_list li a {
	color:				#444444;
	cursor:				pointer;
	display:			block;
	font-weight:		bold;
	padding:			6px 10px;
	text-decoration:	none;
}

#boards_list li a:hover {
	background:			#2887bd;
	color:				#fff;
	text-shadow:		0 1px rgba(0, 0, 0, 0.4);
}

h1 {
	font:				14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;
	color:				#939393;
	font-weight:		bold;
	overflow:			hidden;
	border-bottom:		1px solid #DCDCDC;
	position:			relative;
	padding:			8px 12px;
	text-align:			center;
}

h1 a {
	padding:			2px;
	position:			absolute;
	top:				6px;
	right:				4px;
	text-decoration:	none;
	color: 				#939393;
}

#updating {
	position:			absolute;
	top:				8px;
	left:				2px;
	display:			block;
	width:				16px;
	height:				16px;
	background: 		url('ajax-loader.gif') no-repeat;
}

.footer {
	padding:			8px 12px;
	text-align:			right;
	border-top:			1px solid #DCDCDC;
}

.trello-link {
	font-size:				14px;
	color:					#333;
	text-decoration:		none;
	margin-right:			14px;
}

.trello-link:hover {
	text-decoration:		underline;
}
